@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$mainFont: "Righteous", sans-serif;
$fontColor: #6F204D;
$accentColor: #6F204D;
$noteHeading: #FFB84C;
$noteBackground: #FFF8EE;
$noteAccent: #E3E3E3;
$backgroundColor: #B38FFB;