.weeklyMain {
  width: 100%;
  padding: 10px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    h2 {
      text-transform: uppercase;
      font-size: 2rem;
    }
    button {
      width: 100px;
    }
  }
  .dragTest {
    border: 1px solid red;
    padding: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    background-color: gray;
  }
}
